/***
* These styles are superfluous and purely cosmetic only.
***/

/***
* UTILITY STYLES
***/

.bg-purple {
	background-color: rebeccapurple;
	color: #fff;
}

.jumbotron {
	background-color: transparent;
	border-radius: 0 !important;
	border: 3px solid #fff;
}

/***
* WELCOME SECTION
***/
section.welcome {
	align-items: center;
	background-color: rebeccapurple;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
}

section.welcome .container-fluid {
	width: 100%;
}

/***
* WAYPOINT CONTENT SECTIONS
***/
section {
	padding: 10rem 0;
}

section:nth-child(3) {
	background-color: lightgray;
}

/***
* FOOTER STYLES
***/
footer {
	padding: 3rem 0;
	background: #000;
	color: #888;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 200vh;
}

.sfooter-content {
	flex: 1 0 auto;
}
