/*div[class*="col-"]{*/
	/*background-color: #ddd;*/
	/*border: 1px solid #000;*/
/*}*/

.hey-friend {
	min-height: 500px;
	display: flex;
}

.welcome-heading {
	align-self: center;
	flex: 1 0 auto;
	background-color: rgba(0,0,0,0.5);
}